/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: rgb(246, 246, 239);
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.intro {
max-width: 600px;
text-align: center;
margin: 0 auto;
padding-bottom: .5em;
position: relative;
margin-bottom: 30px;

}
.intro div {
  display: inline-block;
}

h2 {
  line-height: 2.5em;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 20px;
}

.intro h2 {
  line-height: 2.5em;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 25px;
}
#subheading{
  font-family: 'Open Sans', 'sans-serif';
  color: #7f8c8d;
  margin-right: 1em;
  margin-left: 1em;


}

.intro:after {
  content: '';
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: -20px;
  border-bottom: 1px solid #666;
}

.email-optin {
max-width: 600px;
text-align: center;
margin: 0 auto;
padding-bottom: 1em;
position: relative;

}

#email-title {
  padding-bottom: .5em;
}

#mc_embed_signup h2{
  text-align: center;
}

#mc_embed_signup button{
  text-align: center;
}
.email-optin:after {
  content: '';
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: -20px;
  border-bottom: 1px solid #666;
}
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup form {position:relative; padding:10px 0}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #27ae60; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#229252;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:inline; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup input.email {display:inline; padding:8px 0; text-indent:5px; width:58%; min-width:130px;}
#mc_embed_signup input.button {display:inline-block; width:15%; min-width:90px;}

#mc_embed_signup div#mce-responses { top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%; clear: both;}
#mc_embed_signup div.response { padding:1em .5em .5em 0;  top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:inline-block; float:none; width:auto;  text-align:left; padding:.5em 0;}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}


.nav{
  background-color: #3498db;
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav a{
  color: #ecf0f1;
  text-decoration: none;
  display:inline-block;
  padding:10px;
  font-family:'Open Sans', 'sans-serif';
}

.nav a:hover {
  color: #fafafa;
}

.nav li {
   display:inline;
   margin: 0 auto;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: block;
  margin-bottom: .25em;
  padding-top: .25em;
  font-size: 30px;
  font-family:'Open Sans', 'sans-serif';
}

.title a {
  color: white;
  margin-right: 10px;
}

.title a:hover {
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  background-color: white;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
