
<div class="email-optin centered">
    <h2 id="email-title"> Be a part of my email list!</h2>
<div id="mc_embed_signup">
<form action="http://brambor.us5.list-manage.com/subscribe/post?u=e3502fc5aadf9f58c395e6ba2&amp;id=73b628fa75" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="No spam, ever. I pinky promise." required>
    <div class="clear"><input type="submit" value="Join Now" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
</div>

<!--End mc_embed_signup-->
</div>