<div class="feed centered">
    <script src="//www.google.com/jsapi?key=AIzaSyA5m1Nc8ws2BbmPRwKu5gFradvD_hgq6G0" type="text/javascript"></script>
    <script type="text/javascript">
    /*
    *  How to load a feed via the Feeds API.
    */

    google.load("feeds", "1");

    // Our callback function, for when a feed is loaded.
    function feedLoaded(result) {
      if (!result.error) {
        // Grab the container we will put the results into
        var container = document.getElementById("content");
        container.innerHTML = '';


        // Loop through the feeds, putting the titles onto the page.
        // Check out the result object for a list of properties returned in each entry.
        // http://code.google.com/apis/ajaxfeeds/documentation/reference.html#JSON
        for (var i = 0; i < result.feed.entries.length; i++) {
          var entry = result.feed.entries[i];
          var h2= document.createElement("h2");
          var p = document.createElement("p");
          h2.appendChild(document.createTextNode(entry.title));
          container.appendChild(h2);
          p.appendChild(document.createTextNode(entry.contentSnippet));
          container.appendChild(p);
        }
      }
    }

    function OnLoad() {
      // Create a feed instance that will grab Digg's feed.
      var feed = new google.feeds.Feed("http://www.osmansheikh.com/feed/");

      // Calling load sends the request off.  It requires a callback function.
      feed.load(feedLoaded);
    }

    google.setOnLoadCallback(OnLoad);
    </script>
    <div id="content">Loading...</div>
    <h2> <a href="http://osmansheikh.com/blog"> Visit my blog
       <i class="fa fa-chevron-right"></i>
    </a>
  </h2>
</div>