<div class="intro centered">
  <span>
  <h2>
    <div id="webdev">
     Web Developer
    </div>,
    <div id="marketer">
    Marketer
    </div>, &amp
    <div id="entrepreneur">
    Entrepreneur
    </div>
    </h2>
    </span>
  <div id="subheading">
    <h3>
    <span id="i">
      I
    </span>
    <span id="build">
      build
    </span>
      and
    <span id="grow">
      grow
    </span>
    <span id="products">
      online products
    </span>
    <span id="comma">
      ,
    </span>
    <span id="mine">
      sometimes my own products.
    </span>
    </h3>
  </div>
</div>